<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Page d'Accueil</title>
</head>

<body>
    <header>
        <h1>Arbre Généalogique</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="#">Annonces</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="Page_Connexion.html">Se Déconnecter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h2>Bienvenue sur le site qui vous donne votre arbre généalogique</h2>
            <p>Une plateforme qui vous permet de créer votre arbre généalogique.</p>
        </section>

        <section class="annonces">
            <h2>Annonces</h2>
            <!-- Liste des annonces -->
            <div class="annonce">
                <h3>Offre d'emploi</h3>
                <p>Nous recherchons un développeur web expérimenté.</p>
                <p>Postulez dès maintenant !</p>
            </div>
            <div class="annonce">
                <h3>Recherche de partenariat</h3>
                <p>Nous sommes à la recherche de partenaires pour notre nouveau projet.</p>
                <p>Contactez-nous pour plus d'informations.</p>
            </div>
        </section>

        <section class="messages">
            <h2>Messages</h2>
            <!-- Liste des messages -->
            <div class="message">
                <h3>Nouveau Message</h3>
                <p>Vous avez reçu un nouveau message de JohnDoe. Cliquez <a href="#">ici</a> pour le lire.</p>
            </div>
            <div class="message">
                <h3>Notification</h3>
                <p>Votre candidature pour le poste de développeur web a été acceptée. Félicitations !</p>
            </div>
        </section>
    </main>
</body>

</html>
